<div class="dashboard-container">
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <span>Task Management</span>
    <span class="spacer"></span>
    <span *ngIf="currentUser">Welcome, {{ currentUser.username }}!</span>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="dashboard-content" [class.mobile]="isMobile">
    <div class="task-list-container">
      <app-task-list 
        (taskSelected)="onTaskSelected($event)"
        (taskUpdated)="onTaskUpdated()">
      </app-task-list>
    </div>
    
    <div class="task-form-container">
      <app-task-form
        [selectedTask]="selectedTask"
        (taskUpdated)="onTaskUpdated()">
      </app-task-form>
    </div>
  </div>
</div>